
.nav-bar__1 {
    border: 2px solid red;
    background-color: #fff159;
}

.nav-bar__2 {
    border: 2px solid black;
    background-color: #fff159;
}
/* ----------------------------------------------------- */
.nav-bar__1 {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.nav-bar__1 .logo {
    margin: 10px  0px;
    height: 34px;
    width: 134px;
}

.nav-bar__1 .nav-bar__1__search {
    margin: 10px;
    width: 598px;
    height: 56px;
}

.nav-bar__1 .offerts {
    margin: 10px;
    width: 340px;
    height: 39px;
}
/* ---------------------------------------------------------- */

.nav-bar .nav-bar__2 {
    display: flex;
    justify-content: space-evenly;
}


