.nav-bar{
    background-color: #fff159;
    width: 100vw;
    height: 100px;
    font-family:monospace;
    
}

/* ---------------nav-bar__1---------------------- */
.nav-bar__1{
    display: flex;
    justify-content: space-between;
}

.nav-bar__1 .logo {
    width: 134px;
    height: 34px;
    margin: auto;
}

.nav-bar__1 .nav-bar__1__searchbar {
    width: 598px;
    height: 39px;
    margin: 10px 100px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 4px #999;
}

.nav-bar__1 .offerts {
    width: 340px;
    height: 39px;
    margin: auto;
}

/* ----------------nav-bar__2----------------- */
.nav-bar__2 {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.nav-bar__2 .location {
    padding: 0px 30px 8px;
    color: #33333399;
}

.nav-bar__2 .location:hover{
    border: 1px solid black;
}

.nav-bar__2 .nav-bar__2__categories  {
    margin-right: 350px;
    
}

.nav-bar__2 .nav-bar__2__categories a {
    text-decoration: none;
    padding: 10px;
    color: #33333399;
}

.nav-bar__2 .nav-bar__2__categories a:hover{
    color: black;
}

/* ---------------------nav-bar__2__userlogin----------- */

.nav-bar__2__userlogin a {
    text-decoration: none;
    margin-right: 10px;
    color: #33333399;
}

.nav-bar__2__userlogin a:hover{
    color: black;
}

/* -----------------media queries-------------------------------- */
@media screen and (max-width: 1370px) {

    .nav-bar__1 .offerts{
        display: none;
    }

 .nav-bar__2 .nav-bar__2__categories{
     display: none;
 }

 .nav-bar__2__userlogin{
     display: none;
 }

 /* ------------nav-bar__1__searchbar------------------ */

 .nav-bar__1 .nav-bar__1__searchbar{
     width: 100vw;
 }
}
    
